<div class="conntainer" style="border:solid 1px; margin-left: 25%;margin-right: 25%; padding: 2%;"  >


  
  <form #editForm="ngForm" class="form-group" (ngSubmit)="ADD()" required >
    <h2 style="color:orangered; text-align: center;" >Add Manager</h2>

<div class="form-col">
  <div class="form-group row-md-4" >
  <label>First Name:</label>
  <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName"minlength="2" maxlength="20" placeholder="firstName (2-20 characters)" required />
</div>
</div>

<div class="form-col">
  <div class="form-group row-md-4" >
  <label>Last Name:</label>
  <input type="text" class="form-control" name="lastname" [(ngModel)]="model.lastName"minlength="2" maxlength="20" placeholder="lastName (2-20 characters)" required />
</div>
</div>


<div class="form-col">
  <div class="form-group row-md-4" >
  <label>ID number:</label>
  <input (keypress)="numberOnly($event)" type="text" class="form-control" name="identityCard" [(ngModel)]="model.identityCard" minlength="4" maxlength="10" placeholder="id number ( 4-10 numbers)" required  />
</div>
</div>


<button [disabled]="editForm.form.invalid"  class="btn btn-success" type="submit">Submit</button>
   </form>


</div>
