.select{

    display: inline;
    margin-right: 5%;
    margin-bottom: 8%;
    
}
H1{
text-align: center;
margin-bottom: 5%;
margin-top: 2.5%;
}

.group{
    margin-left: 4px;
    display: inline;
}
