

<div class="container mt-5" >


  <div class="form-col-md-3" >
    <div class="form-group row-md-3" >
  <button class="btn btn-primary" [disabled]="emid==null" (click)="getemploye(emid)"> Get Result </button>
  <label style="margin-left: 2%;" for="manager"><h3>Select Manager</h3></label>
  <button style="margin-left: 10%;" class="btn btn-success" (click)="gotoaddmanager()">Add maneger </button>
  <select  required  name="manager" class="form-control"(change)="selectChangeHandler($event)"  >
  <option value="" disabled selected hidden>select manager</option>
  <option  *ngFor="let manager of Managers"  [value]="manager.id" >{{manager.firstName}}</option>
  </select>
  </div>
  </div>

<h3>Employees Manager List</h3>
<table class="table table-hover table-info" 
>
  <thead>
    <tr>
      <th scope="col">Id Nembar</th>
      <th scope="col">First Name</th>
      <th scope="col">Laest Nane</th>
 
   
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of Empployess">
      <th>{{employee.identityCard}} </th> 
      <td>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td>
    


    </tr>
    
    
  </tbody>
</table>
</div>